* {
	font-family: arial, sans-serif;
}

body {
	display: grid;
	grid-template-rows: 3em 3em 1em auto;
	align-items: center;
}

.navigation {
	justify-self: right;
	line-height: 1em;
	background-color: cornflowerblue;
	width: max-content;
	padding: 5px;
}
	.navigation a {
		color: white;
		padding: 5px;
		text-decoration: none;
	}

form {
	margin-left: 10px;
}

#search {
	position: relative;
	display: grid;
	grid-template-columns: max-content auto;
	column-gap: 10px;
	width: 40%;
	align-items: center;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 10px;
}

.title {
	color: #d93025;
}

input {
	line-height: 1.5em;
}
	input:focus {
		outline-color: cornflowerblue;
	}

#submit {
	position: absolute;
	right: 0px;
	background-color: cornflowerblue;
	color: white;
	border: none;
	padding: 5px 10px;
	margin-top: 10px;
}
	#submit:hover {
		cursor: pointer;
	}
