body {
	display: grid;
	grid-template-rows: 1.5em auto 1.5em;
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
}

.navigation {
	justify-self: right;
	line-height: 1em;
}
	.navigation a {
		padding: 5px;
		font-family: sans-serif;
		text-decoration: none;
		color: darkslategray;
	}
		.navigation a:hover {
			text-decoration: underline;
		}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-self: center;
	align-items: center;
}
	form * {
		padding: 5px;
	}
	form *:last-child {
		padding-bottom: 0%;
	}
	form .submit {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 5px;
		align-items: center;
		justify-items: center;
		width: fit-content;
	}

input {height: calc(1em + 5px);}

input[type="text"] {
	padding: 10px;
	border-radius: 25px;
	border: 1px solid rgb(193, 194, 194);
	width: 750px;
}

input[type="submit"] {
	width: fit-content;
	height: auto;
	padding: 10px;
	border: none;
}

input[type="submit"]:hover {
	cursor: pointer;
}
